# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Entornos
venv/
env/
.env
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Notebooks files
notebooks_individuales/

# Data files
src/

# Models
models/*.pkl

# Reports
reports/

# Agents AI
.claude

# Github WF
*/workflows