# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Entornos
venv/
env/
.env
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Data files
src/*
!src/visualization/

# Models
models/*.pkl

# Agents AI
.claude

# Github WF
*/workflows